{% extends 'base.html' %}
{% load static %}



    {% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
    {% endblock %}

    {% block modal_cart %}
    {% include "includes/cart_button.html" %}
    {% endblock  %}

{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded text-center">
    <h2 class = 'm-2 mb-5 '><strong>{{ content }}</strong></h2>

           <h5>Доставка и оплата</h5>
    <p>Мы заботимся о том, чтобы процесс покупки был максимально удобным и безопасным для наших клиентов. 
    Вот почему мы предлагаем различные варианты доставки и оплаты, чтобы удовлетворить ваши потребности.</p>
       <hr> 
       <h5>Доставка</h5>

    Мы осуществляем доставку по всей территории России. 
    Стоимость доставки зависит от вашего местоположения и выбранного способа доставки. 
    Вы можете выбрать один из следующих вариантов:

    - Курьерская доставка до двери
    - Самовывоз из пункта выдачи заказов

    При оформлении заказа вы сможете увидеть точную стоимость доставки для вашего региона.
<hr>
    <h5>Оплата</h5>

    Мы принимаем следующие способы оплаты:
<br>
 Наличные при получении (только для курьерской доставки)<br>
Банковские карты Visa, MasterCard, МИР<br>

    Выберите наиболее удобный способ оплаты.

    Если у вас есть какие-либо вопросы относительно доставки и оплаты, пожалуйста, свяжитесь с нами. 
    Мы будем рады помочь вам сделать покупку приятной и комфортной.
            <hr>
            <h5>Обратная связь</h5>
            <p>
                Связаться с нами можно по номеру:
                <br>
                +7(912)-449-54-93
            </p>
    </p>
    </div>
{% endblock %}
{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Sweet Home Qumi 2024</p>
        </div>
    </footer>
{% endblock %}
